In [1]:
import pandas as pd

In [2]:
zri = pd.read_csv('ZRI.csv')
zri

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-09,2010-10,2010-11,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,3031.0,3058.0,3031.0,...,3785.0,3788.0,3786.0,3784.0,3766.0,3779.0,3843.0,3873.0,3835.0,NaN
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,1790.0,1787.0,1784.0,...,2039.0,2070.0,2105.0,2140.0,2168.0,2185.0,2125.0,NaN,2053.0,1996.0
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,3269.0,3304.0,3320.0,...,3874.0,3898.0,3917.0,3929.0,3931.0,3963.0,NaN,4123.0,4079.0,NaN
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,1547.0,1549.0,1560.0,...,1765.0,1755.0,1751.0,1752.0,1754.0,1759.0,1764.0,1769.0,1776.0,1778.0
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,1922.0,1925.0,1921.0,...,2245.0,2289.0,2332.0,2372.0,2398.0,2412.0,2348.0,2356.0,2311.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13176,68966,26291,Snowshoe,WV,NaN,Pocahontas County,13177,946.0,NaN,NaN,...,965.0,959.0,956.0,958.0,956.0,951.0,932.0,928.0,930.0,923.0
13177,62697,12720,Bethel,NY,NaN,Sullivan County,13178,1372.0,1390.0,1417.0,...,1279.0,1284.0,1288.0,1295.0,1294.0,1305.0,NaN,1348.0,1310.0,1272.0
13178,68924,26209,Snowshoe,WV,NaN,Pocahontas County,13179,NaN,NaN,NaN,...,728.0,727.0,725.0,724.0,745.0,762.0,779.0,NaN,NaN,765.0
13179,75924,41101,Ashland,KY,Huntington-Ashland,Boyd County,13180,758.0,754.0,760.0,...,852.0,850.0,847.0,842.0,836.0,836.0,829.0,853.0,828.0,815.0
13180,95851,89155,Las Vegas,NV,Las Vegas-Henderson-Paradise,Clark County,13181,1087.0,1098.0,1104.0,...,1309.0,1316.0,1324.0,1332.0,1340.0,1369.0,1406.0,1430.0,1441.0,1429.0

In [3]:
zri.columns

Index(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank', '2010-09', '2010-10', '2010-11',
       ...
       '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09',
       '2019-10', '2019-11', '2019-12', '2020-01'],
      dtype='object', length=120)

In [4]:
zri = zri.drop(columns=['RegionID', 'RegionName','City', 'State', 'Metro', 'CountyName','SizeRank'])

In [5]:
zri['missing'] = zri.isnull().sum(axis=1)

In [6]:
zri = zri[zri['missing']<50]

In [7]:
zri = zri.fillna(method = 'ffill', axis=1, limit=100)

In [8]:
zri['missing'] = zri.isnull().sum(axis=1)
zri['missing'].sort_values(ascending=False)

7232     48
3665     45
11426    44
12970    43
5613     43
         ..
7734      0
7733      0
7731      0
7730      0
0         0
Name: missing, Length: 12650, dtype: int64

In [9]:
zri = zri.fillna(method = 'backfill', axis=1, limit=100)

In [10]:
zri['missing'] = zri.isnull().sum(axis=1)
zri['missing'].sort_values(ascending=False)

13180    0
4250     0
4248     0
4247     0
4246     0
        ..
8516     0
8515     0
8514     0
8513     0
0        0
Name: missing, Length: 12650, dtype: int64

In [11]:
zri.to_csv('copy.csv')

In [12]:
zri

,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,missing
0,3031.0,3058.0,3031.0,3015.0,2976.0,2914.0,2860.0,2811.0,2792.0,2799.0,...,3788.0,3786.0,3784.0,3766.0,3779.0,3843.0,3873.0,3835.0,3835.0,0
1,1790.0,1787.0,1784.0,1774.0,1755.0,1742.0,1735.0,1741.0,1742.0,1757.0,...,2070.0,2105.0,2140.0,2168.0,2185.0,2125.0,2125.0,2053.0,1996.0,0
2,3269.0,3304.0,3320.0,3322.0,3283.0,3225.0,3133.0,3086.0,3017.0,3005.0,...,3898.0,3917.0,3929.0,3931.0,3963.0,3963.0,4123.0,4079.0,4079.0,0
3,1547.0,1549.0,1560.0,1560.0,1542.0,1547.0,1559.0,1578.0,1591.0,1597.0,...,1755.0,1751.0,1752.0,1754.0,1759.0,1764.0,1769.0,1776.0,1778.0,0
4,1922.0,1925.0,1921.0,1908.0,1870.0,1841.0,1825.0,1823.0,1829.0,1850.0,...,2289.0,2332.0,2372.0,2398.0,2412.0,2348.0,2356.0,2311.0,2311.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13175,1115.0,1131.0,1129.0,1130.0,1137.0,1143.0,1145.0,1146.0,1157.0,1176.0,...,1327.0,1322.0,1329.0,1334.0,1337.0,1335.0,1334.0,1330.0,1356.0,0
13176,946.0,946.0,946.0,946.0,946.0,1004.0,987.0,970.0,959.0,941.0,...,959.0,956.0,958.0,956.0,951.0,932.0,928.0,930.0,923.0,0
13177,1372.0,1390.0,1417.0,1417.0,1419.0,1419.0,1419.0,1419.0,1419.0,1150.0,...,1284.0,1288.0,1295.0,1294.0,1305.0,1305.0,1348.0,1310.0,1272.0,0
13179,758.0,754.0,760.0,761.0,761.0,764.0,767.0,765.0,760.0,762.0,...,850.0,847.0,842.0,836.0,836.0,829.0,853.0,828.0,815.0,0
13180,1087.0,1098.0,1104.0,1110.0,1113.0,1111.0,1108.0,1106.0,1102.0,1099.0,...,1316.0,1324.0,1332.0,1340.0,1369.0,1406.0,1430.0,1441.0,1429.0,0

In [13]:
zri_copy = pd.read_csv('ZRI.csv')
zri_copy = zri_copy.drop(columns=['City', 'State', 'Metro', 'CountyName','SizeRank'])
zri_copy['missing'] = zri_copy.isnull().sum(axis=1)
zri_copy = zri_copy[zri_copy['missing']<50]
zri_copy = zri_copy[['RegionID', 'RegionName']]
zri_copy

       RegionID  RegionName
0         61639       10025
1         84654       60657
2         61637       10023
3         91982       77494
4         84616       60614
...         ...         ...
13175     96822       92341
13176     68966       26291
13177     62697       12720
13179     75924       41101
13180     95851       89155

[12650 rows x 2 columns]

In [14]:
zri = pd.concat([zri_copy,zri],axis=1)
zri

,RegionID,RegionName,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,missing
0,61639,10025,3031.0,3058.0,3031.0,3015.0,2976.0,2914.0,2860.0,2811.0,...,3788.0,3786.0,3784.0,3766.0,3779.0,3843.0,3873.0,3835.0,3835.0,0
1,84654,60657,1790.0,1787.0,1784.0,1774.0,1755.0,1742.0,1735.0,1741.0,...,2070.0,2105.0,2140.0,2168.0,2185.0,2125.0,2125.0,2053.0,1996.0,0
2,61637,10023,3269.0,3304.0,3320.0,3322.0,3283.0,3225.0,3133.0,3086.0,...,3898.0,3917.0,3929.0,3931.0,3963.0,3963.0,4123.0,4079.0,4079.0,0
3,91982,77494,1547.0,1549.0,1560.0,1560.0,1542.0,1547.0,1559.0,1578.0,...,1755.0,1751.0,1752.0,1754.0,1759.0,1764.0,1769.0,1776.0,1778.0,0
4,84616,60614,1922.0,1925.0,1921.0,1908.0,1870.0,1841.0,1825.0,1823.0,...,2289.0,2332.0,2372.0,2398.0,2412.0,2348.0,2356.0,2311.0,2311.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13175,96822,92341,1115.0,1131.0,1129.0,1130.0,1137.0,1143.0,1145.0,1146.0,...,1327.0,1322.0,1329.0,1334.0,1337.0,1335.0,1334.0,1330.0,1356.0,0
13176,68966,26291,946.0,946.0,946.0,946.0,946.0,1004.0,987.0,970.0,...,959.0,956.0,958.0,956.0,951.0,932.0,928.0,930.0,923.0,0
13177,62697,12720,1372.0,1390.0,1417.0,1417.0,1419.0,1419.0,1419.0,1419.0,...,1284.0,1288.0,1295.0,1294.0,1305.0,1305.0,1348.0,1310.0,1272.0,0
13179,75924,41101,758.0,754.0,760.0,761.0,761.0,764.0,767.0,765.0,...,850.0,847.0,842.0,836.0,836.0,829.0,853.0,828.0,815.0,0
13180,95851,89155,1087.0,1098.0,1104.0,1110.0,1113.0,1111.0,1108.0,1106.0,...,1316.0,1324.0,1332.0,1340.0,1369.0,1406.0,1430.0,1441.0,1429.0,0

In [15]:
zri['2011'] = zri.iloc[:,6:18].mean(axis=1)
zri['2012'] = zri.iloc[:,18:30].mean(axis=1)
zri['2013'] = zri.iloc[:,30:42].mean(axis=1)
zri['2014'] = zri.iloc[:,42:54].mean(axis=1)
zri['2015'] = zri.iloc[:,54:66].mean(axis=1)
zri['2016'] = zri.iloc[:,66:78].mean(axis=1)
zri['2017'] = zri.iloc[:,78:90].mean(axis=1)
zri['2018'] = zri.iloc[:,90:102].mean(axis=1)
zri['2019'] = zri.iloc[:,102:114].mean(axis=1)

In [16]:
zri

,RegionID,RegionName,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,...,missing,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,61639,10025,3031.0,3058.0,3031.0,3015.0,2976.0,2914.0,2860.0,2811.0,...,0,2864.666667,2967.000000,3144.666667,3264.416667,3872.916667,4190.583333,4304.416667,3536.000000,3660.000000
1,84654,60657,1790.0,1787.0,1784.0,1774.0,1755.0,1742.0,1735.0,1741.0,...,0,1787.250000,1866.833333,1955.666667,2005.666667,2073.500000,2140.416667,2127.416667,2098.333333,2088.833333
2,61637,10023,3269.0,3304.0,3320.0,3322.0,3283.0,3225.0,3133.0,3086.0,...,0,3074.250000,3073.833333,3198.250000,3311.416667,4008.166667,4680.500000,4332.083333,3839.916667,3893.750000
3,91982,77494,1547.0,1549.0,1560.0,1560.0,1542.0,1547.0,1559.0,1578.0,...,0,1584.500000,1630.583333,1786.833333,1956.833333,1921.916667,1819.833333,1770.083333,1788.166667,1763.416667
4,84616,60614,1922.0,1925.0,1921.0,1908.0,1870.0,1841.0,1825.0,1823.0,...,0,1897.583333,2014.666667,2148.000000,2202.583333,2271.000000,2346.500000,2344.000000,2314.250000,2306.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13175,96822,92341,1115.0,1131.0,1129.0,1130.0,1137.0,1143.0,1145.0,1146.0,...,0,1175.833333,1172.916667,1130.583333,1186.333333,1238.666667,1308.666667,1414.833333,1458.750000,1341.166667
13176,68966,26291,946.0,946.0,946.0,946.0,946.0,1004.0,987.0,970.0,...,0,956.333333,947.583333,979.083333,949.250000,1036.333333,1021.583333,949.666667,918.416667,952.250000
13177,62697,12720,1372.0,1390.0,1417.0,1417.0,1419.0,1419.0,1419.0,1419.0,...,0,1273.083333,1148.166667,1200.166667,1209.750000,1139.500000,1196.500000,1181.416667,1261.250000,1296.000000
13179,75924,41101,758.0,754.0,760.0,761.0,761.0,764.0,767.0,765.0,...,0,782.333333,846.083333,832.750000,836.166667,846.916667,865.083333,851.666667,855.916667,846.000000
13180,95851,89155,1087.0,1098.0,1104.0,1110.0,1113.0,1111.0,1108.0,1106.0,...,0,1096.750000,1087.916667,1099.333333,1141.000000,1202.833333,1254.416667,1277.583333,1299.333333,1349.250000

In [17]:
zri_2011 = zri[['RegionName','2011']]
zri_2012 = zri[['RegionName','2012']]
zri_2013 = zri[['RegionName','2013']]
zri_2014 = zri[['RegionName','2014']]
zri_2015 = zri[['RegionName','2015']]
zri_2016 = zri[['RegionName','2016']]
zri_2017 = zri[['RegionName','2017']]
zri_2018 = zri[['RegionName','2018']]
zri_2019 = zri[['RegionName','2019']]

In [18]:
zri_2011.rename(columns={'2011':'zri'}, inplace=True)
zri_2012.rename(columns={'2012':'zri'}, inplace=True)
zri_2013.rename(columns={'2013':'zri'}, inplace=True)
zri_2014.rename(columns={'2014':'zri'}, inplace=True)
zri_2015.rename(columns={'2015':'zri'}, inplace=True)
zri_2016.rename(columns={'2016':'zri'}, inplace=True)
zri_2017.rename(columns={'2017':'zri'}, inplace=True)

C:\Users\BGCNHK\Anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [19]:
zri_2011.loc[:,'year'] = '2011'
zri_2012.loc[:,'year'] = '2012'
zri_2013.loc[:,'year'] = '2013'
zri_2014.loc[:,'year'] = '2014'
zri_2015.loc[:,'year'] = '2015'
zri_2016.loc[:,'year'] = '2016'
zri_2017.loc[:,'year'] = '2017'
zri_2018.loc[:,'year'] = '2018'
zri_2019.loc[:,'year'] = '2019'

C:\Users\BGCNHK\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\BGCNHK\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [20]:
zri_2012

       RegionName          zri  year
0           10025  2967.000000  2012
1           60657  1866.833333  2012
2           10023  3073.833333  2012
3           77494  1630.583333  2012
4           60614  2014.666667  2012
...           ...          ...   ...
13175       92341  1172.916667  2012
13176       26291   947.583333  2012
13177       12720  1148.166667  2012
13179       41101   846.083333  2012
13180       89155  1087.916667  2012

[12650 rows x 3 columns]

In [21]:
df1 = pd.read_csv('C:\\Users\BGCNHK\\Desktop\\7Park\\2011.csv')
df2 = pd.read_csv('C:\\Users\\BGCNHK\\Desktop\\7Park\\2012.csv')
df3 = pd.read_csv('C:\\Users\\BGCNHK\\Desktop\\7Park\\2013.csv')
df4 = pd.read_csv('C:\\Users\\BGCNHK\\Desktop\\7Park\\2014.csv')
df5 = pd.read_csv('C:\\Users\\BGCNHK\\Desktop\\7Park\\2015.csv')
df6 = pd.read_csv('C:\\Users\\BGCNHK\\Desktop\\7Park\\2016.csv')
df7 = pd.read_csv('C:\\Users\\BGCNHK\\Desktop\\7Park\\2017.csv')

In [22]:
df1

,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date
0,99363,22,0,NaN,0,0,0,22,0,0,...,22,0,0,22,0,0,22,0,0,20072011
1,14881,64,0,NaN,0,0,51,0,0,13,...,64,0,0,64,13,0,0,51,0,20072011
2,91046,94,15,1987.0,0,109,0,0,0,0,...,11,0,0,123,11,29,0,0,0,20072011
3,35052,21,0,NaN,0,21,0,0,0,0,...,149,0,0,149,21,40,0,80,8,20072011
4,20317,238,0,1950.0,0,135,54,35,0,0,...,345,0,0,345,65,85,14,67,87,20072011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,11970,86,295,1974.0,0,0,0,46,0,0,...,831,0,0,799,198,498,0,0,103,20072011
33116,37614,0,0,NaN,0,0,0,0,0,0,...,1549,58,0,1741,1686,11,5,0,0,20072011
33117,23806,0,0,NaN,0,0,0,0,0,0,...,2097,43,12,2152,2144,0,8,0,0,20072011
33118,39664,298,632,1982.0,43,0,0,0,0,41,...,2205,0,0,2013,705,963,26,140,179,20072011
33119,66013,40,694,1981.0,16,0,19,0,0,0,...,2031,46,12,1757,366,1292,17,41,41,20072011

In [23]:
df1 = pd.merge(zri_2011,df1,left_on='RegionName',right_on='geo_id', how='left')
df2 = pd.merge(zri_2012,df2,left_on='RegionName',right_on='geo_id', how='left')
df3 = pd.merge(zri_2013,df3,left_on='RegionName',right_on='geo_id', how='left')
df4 = pd.merge(zri_2014,df4,left_on='RegionName',right_on='geo_id', how='left')
df5 = pd.merge(zri_2015,df5,left_on='RegionName',right_on='geo_id', how='left')
df6 = pd.merge(zri_2016,df6,left_on='RegionName',right_on='geo_id', how='left')
df7 = pd.merge(zri_2017,df7,left_on='RegionName',right_on='geo_id', how='left')

In [24]:
df5

,RegionName,zri,year,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,...,commute_60_more_mins,commute_less_10_mins,commuters_16_over,hispanic_any_race,pop_5_years_over,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,do_date,geoid
0,10025,3872.916667,2015,10025.0,24367.0,19089.0,1939.0,1754.0,7527.0,2472.0,...,4294.0,2468.0,45657.0,21349.0,91087.0,59561.0,16641.0,6676.0,20112015.0,NaN
1,60657,2073.500000,2015,60657.0,25743.0,11011.0,1954.0,837.0,4002.0,1476.0,...,5175.0,1728.0,45212.0,4193.0,65248.0,55901.0,2905.0,785.0,20112015.0,NaN
2,10023,4008.166667,2015,10023.0,20407.0,12348.0,1944.0,919.0,3221.0,1943.0,...,1858.0,896.0,30744.0,5880.0,56493.0,41807.0,4269.0,926.0,20112015.0,NaN
3,77494,1921.916667,2015,77494.0,3806.0,23386.0,2006.0,57.0,672.0,84.0,...,6625.0,2256.0,36706.0,15264.0,80564.0,52511.0,11597.0,2367.0,20112015.0,NaN
4,60614,2271.000000,2015,60614.0,22453.0,11252.0,1962.0,696.0,3276.0,1268.0,...,4247.0,1839.0,42223.0,4634.0,65400.0,56832.0,2580.0,783.0,20112015.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12645,92341,1238.666667,2015,92341.0,119.0,58.0,1963.0,10.0,12.0,34.0,...,28.0,33.0,61.0,0.0,277.0,277.0,0.0,0.0,20112015.0,NaN
12646,26291,1036.333333,2015,26291.0,0.0,25.0,2000.0,0.0,0.0,0.0,...,0.0,0.0,44.0,0.0,75.0,75.0,0.0,0.0,20112015.0,NaN
12647,12720,1139.500000,2015,12720.0,63.0,19.0,1980.0,10.0,0.0,0.0,...,42.0,0.0,122.0,54.0,187.0,133.0,54.0,19.0,20112015.0,NaN
12648,41101,846.916667,2015,41101.0,2909.0,4972.0,1956.0,298.0,910.0,147.0,...,262.0,1984.0,7026.0,338.0,17607.0,17141.0,167.0,43.0,20112015.0,NaN
12649,89155,1202.833333,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df5.shape

(12650, 250)

In [26]:
df = pd.concat([df1,df2,df3,df4,df5,df6], sort=False)
df

,RegionName,zri,year,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,...,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date,geoid
0,10025,2864.666667,2011,10025.0,25209.0,17965.0,1939.0,1926.0,7444.0,2328.0,...,16318.0,6319.0,83060.0,41976.0,27494.0,2108.0,2803.0,4894.0,20072011.0,NaN
1,60657,1787.250000,2011,60657.0,26905.0,10501.0,1954.0,741.0,4656.0,1466.0,...,4249.0,1012.0,62399.0,38426.0,19007.0,361.0,929.0,2692.0,20072011.0,NaN
2,10023,3074.250000,2011,10023.0,20873.0,11627.0,1939.0,881.0,3895.0,1232.0,...,4647.0,1146.0,53042.0,23235.0,21578.0,680.0,1923.0,3844.0,20072011.0,NaN
3,77494,1584.500000,2011,77494.0,2245.0,15195.0,2004.0,30.0,510.0,161.0,...,5804.0,1183.0,39416.0,7399.0,28275.0,184.0,920.0,2015.0,20072011.0,NaN
4,60614,1897.583333,2011,60614.0,22176.0,11237.0,1961.0,856.0,3696.0,1016.0,...,2941.0,711.0,58574.0,33137.0,20412.0,460.0,1103.0,2835.0,20072011.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12645,92341,1308.666667,2016,92341.0,89.0,44.0,1964.0,9.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20122016.0,NaN
12646,26291,1021.583333,2016,26291.0,0.0,29.0,2002.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20122016.0,NaN
12647,12720,1196.500000,2016,12720.0,70.0,38.0,1986.0,14.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20122016.0,NaN
12648,41101,865.083333,2016,41101.0,2915.0,5118.0,1957.0,414.0,829.0,184.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20122016.0,NaN
12649,89155,1254.416667,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df = df[df['geo_id'].notna()]
df

,RegionName,zri,year,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,...,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date,geoid
0,10025,2864.666667,2011,10025.0,25209.0,17965.0,1939.0,1926.0,7444.0,2328.0,...,16318.0,6319.0,83060.0,41976.0,27494.0,2108.0,2803.0,4894.0,20072011.0,NaN
1,60657,1787.250000,2011,60657.0,26905.0,10501.0,1954.0,741.0,4656.0,1466.0,...,4249.0,1012.0,62399.0,38426.0,19007.0,361.0,929.0,2692.0,20072011.0,NaN
2,10023,3074.250000,2011,10023.0,20873.0,11627.0,1939.0,881.0,3895.0,1232.0,...,4647.0,1146.0,53042.0,23235.0,21578.0,680.0,1923.0,3844.0,20072011.0,NaN
3,77494,1584.500000,2011,77494.0,2245.0,15195.0,2004.0,30.0,510.0,161.0,...,5804.0,1183.0,39416.0,7399.0,28275.0,184.0,920.0,2015.0,20072011.0,NaN
4,60614,1897.583333,2011,60614.0,22176.0,11237.0,1961.0,856.0,3696.0,1016.0,...,2941.0,711.0,58574.0,33137.0,20412.0,460.0,1103.0,2835.0,20072011.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12644,83287,1005.333333,2016,83287.0,9.0,86.0,2000.0,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20122016.0,NaN
12645,92341,1308.666667,2016,92341.0,89.0,44.0,1964.0,9.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20122016.0,NaN
12646,26291,1021.583333,2016,26291.0,0.0,29.0,2002.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20122016.0,NaN
12647,12720,1196.500000,2016,12720.0,70.0,38.0,1986.0,14.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20122016.0,NaN
12648,41101,865.083333,2016,41101.0,2915.0,5118.0,1957.0,414.0,829.0,184.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20122016.0,NaN

In [28]:
df.to_csv('processed.csv', index=False)

In [31]:
# model test data 2017
df7 = df7[df7['geo_id'].notna()]
df7

,RegionName,zri,year,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,...,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date
0,10025,4304.416667,2017,10025.0,22406.0,20140.0,1939.0,1497.0,7286.0,2706.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0
1,60657,2127.416667,2017,60657.0,25570.0,11248.0,1956.0,918.0,3316.0,1476.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0
2,10023,4332.083333,2017,10023.0,20377.0,12756.0,1941.0,725.0,3106.0,1495.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0
3,77494,1770.083333,2017,77494.0,4829.0,27783.0,2008.0,179.0,1199.0,286.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0
4,60614,2344.000000,2017,60614.0,21713.0,11878.0,1963.0,667.0,2952.0,1180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12644,83287,1088.000000,2017,83287.0,13.0,87.0,2000.0,4.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0
12645,92341,1414.833333,2017,92341.0,72.0,58.0,1964.0,11.0,12.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0
12646,26291,949.666667,2017,26291.0,0.0,48.0,2000.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0
12647,12720,1181.416667,2017,12720.0,68.0,52.0,1991.0,19.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0
12648,41101,851.666667,2017,41101.0,2891.0,4891.0,1958.0,451.0,763.0,197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017.0

In [32]:
# model test convert to csv file
df7.to_csv('model_test.csv', index=False)